<div class="navbar">
  <div class="logo-container">
    <img src="assets/images/Logo.png" alt="HealthEase Logo" class="logo-img">
    <span class="portal-name">HealthEase</span>
  </div>
</div>

<div class="landing-container">
  <div class="landing-box">
    <h1>Welcome to HealthEase Portal</h1>
    <p class="tagline">Select your role to proceed</p>
    <div class="button-group">
      <button class="role-button" (click)="navigateToAdmin()">Admin</button>
      <button class="role-button"  (click)="navigateToDoctor()">Doctor</button>
      <button class="role-button"  (click)="navigateToPatient()">Patient</button>
      
      
    </div>
  </div>
</div>
