<div class="navbar">
    <div class="logo-container">
        <img src="assets/images/Logo.png" alt="HealthEase Logo" class="logo-img">
        <span class="portal-name">HealthEase</span>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <h2>Login</h2>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="form-footer">
                <a href="#">Forgot Password?</a>
                <br>
                <span>Don't have an account? <a routerLink="/landing">Register here</a></span>
            </div>
        </form>
    </div>
</div>