<div class="sidebar" id="sidebar">
  <div class="hamburger-icon" id="hamburger">
    <i class="fa fa-bars" style="font-size: 24px; color: #00796b"></i>
  </div>

  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/patient/dashboard">
          <i class="fa fa-home" aria-hidden="true" style="font-size: 21px"> &nbsp;</i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/patient/book-appointment">
          <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Book Appointment
        </a>
      </li>
      <li>
        <a routerLink="/patient/manage-appointment">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp; Manage Appointments
        </a>
      </li>
    </ul>
  </div>
</div>
