<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
  <nav class="navbar">
      <div class="logo-container">
        <img src="assets/images/Logo.png" alt="HealthEase Logo" class="logo-img" />
        <span class="portal-name">HealthEase</span>
      </div>
    </nav>

    <div class="sidebar" id="sidebar">
      <div class="hamburger-icon" id="hamburger">
        <i class="fa fa-bars" style="font-size: 24px; color: #00796b"></i>
      </div>
      <ul>
           <li><a routerLink="/patient/dashboard">Dashboard</a></li>
    <li><a routerLink="/patient/book-appointment">Book Appointment</a></li>
    <li><a routerLink="/patient/manage-appointment">Manage Appointments</a></li>
      </ul>
    </div>

    <div class="main-content">
      <div class="container">
        <h2>Manage Appointments</h2>
        </div>
    </div>
