 <link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
 <nav class="navbar">
      <div class="logo-container">
                <img src="assets/images/Logo.png" alt="HealthEase Logo" class="logo-img" />
        <span class="portal-name">HealthEase</span>
      </div>
    </nav>

   <div class="sidebar" id="sidebar">
  <div class="hamburger-icon" id="hamburger">
    <i class="fa fa-bars" style="font-size: 24px; color: #00796b"></i>
  </div>
  <ul>
    <li><a routerLink="/patient/dashboard">Dashboard</a></li>
    <li><a routerLink="/patient/book-appointment">Book Appointment</a></li>
    <li><a routerLink="/patient/manage-appointment">Manage Appointments</a></li>
  </ul>
</div>

    <div class="main-content">
      <div class="container">
        <h2>Manage Appointments</h2>
        <h3 style="color: #00796b; margin-top: 30px; margin-bottom: 15px;">Active Appointments</h3>

        <div class="appointment-table-container">
          <table class="appointment-table">
            <thead>
              <tr>
                <th>Appointment ID</th>
                <th>Patient Age</th>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Appointment Date (mm/dd/yy)</th>
                <th>Slot Start Time</th>
                <th>Slot End Time</th>
                <th>Status</th>
                <th>Created Date (mm/dd/yy)</th>
                 <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of appointmentList">
                <td>{{ appointment.appointmentId }}</td>
                <td>{{ appointment.age }}</td>
                <td>{{ appointment.doctorName }}</td>
                <td>{{ appointment.specializationName }}</td>
                <td>{{ appointment.appointmentDate | date: 'shortDate' }}</td>
                <td>{{ appointment.slotStartTime }}</td>
                <td>{{ appointment.slotEndTime }}</td>
                <td>{{ appointment.status }}
                </td>
                <td>{{ appointment.createdDate | date: 'shortDate' }}</td>
                <td><button class="delete-button" (click)="deleteAppointment(appointment.appointmentId)">Delete</button></td>
              </tr>
              </tbody>
    
          </table>
                    <h3 style="color: #00796b; margin-top: 30px; margin-bottom: 15px;">Deleted Appointments</h3>

        <div class="appointment-table-container">
          <table class="appointment-table">
            <thead>
              <tr>
                <th>Appointment ID</th>
                <th>Patient Age</th>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Appointment Date (mm/dd/yy)</th>
                <th>Slot Start Time</th>
                <th>Slot End Time</th>
                <th>Status</th>
                <th>Created Date (mm/dd/yy)</th>
         
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointments of deletedAppointmentList">
                <td>{{ appointments.appointmentId }}</td>
                <td>{{ appointments.age }}</td>
                <td>{{ appointments.doctorName }}</td>
                <td>{{ appointments.specializationName }}</td>
                <td>{{ appointments.appointmentDate | date: 'shortDate' }}</td>
                <td>{{ appointments.slotStartTime }}</td>
                <td>{{ appointments.slotEndTime }}</td>
                <td>{{ appointments.status }}</td>
                <td>{{ appointments.createdDate | date: 'shortDate' }}</td>
              </tr>
              </tbody>
          </table>