
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
 <nav class="navbar">
      <div class="logo-container">
                <img src="assets/images/Logo.png" alt="HealthEase Logo" class="logo-img" />
        <span class="portal-name">HealthEase</span>
      </div>
      <button class="logout-btn" (click)="logout()">
    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
  </button>
    </nav>

   <div class="sidebar" id="sidebar">
  <div class="hamburger-icon" id="hamburger">
    <i class="fa fa-bars" style="font-size: 24px; color: #00796b"></i>
  </div>
  <div class="nav-links">
    <ul>
      <li><a routerLink="/doctor/doctor-dashboard"><i class="fa fa-home" aria-hidden="true"  style="font-size:21px"> &nbsp; </i> Dashboard</a></li>
     <li><a routerLink="/doctor/todays-appointment"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Today's Appointment </a></li>
      <!-- <li><a routerLink="/patient/manage-appointment"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp; Manage Appointments</a></li> -->
    </ul>
  </div>
</div>

    <div class="main-content">
      <div class="container">
        <h2>Manage Appointments</h2>
        <h3 style="color: #00796b; margin-top: 30px; margin-bottom: 15px;">Today's Appointments</h3>

        <div class="appointment-table-container">
          <table class="appointment-table">
            <thead>
              <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Reason for Visit</th>
                <th>Appointment Date (yyyy-mm-dd)</th>
                <th>Appointment Time</th>
            
                 <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of todaysAppointmentList">
                <td>{{ appointment.appointmentId }}</td>
                <td>{{ appointment.patientId }}</td>
                <td>{{ appointment.patientName }}</td>
                <td>{{ appointment.gender }}</td>
                <td>{{ appointment.age }}</td>
                <td>{{ appointment.reasonForVisit }}</td>
                <td>{{ appointment.appointmentDate }}</td>
                <td>{{ appointment.appointmentTime.substring(0, 5) }}</td>
                <td><button class="delete-button">Consult</button></td>
              </tr>
              </tbody>
          </table>
