* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.navbar {
  background-color: #00796b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
   justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: auto;
  opacity: 0.9;
  margin-right: 10px;
}

.portal-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logout-btn {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  margin-left: auto;
  box-shadow: none;
}

.logout-btn:hover {
  background-color: #bc1616;
  transform: translateY(-1px);
}
